@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Anastasia Script';
  src: url('/assets/fonts/anastasiascriptc.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fffbf8;
  --foreground: #171717;
}

@theme {
  --color-brown: #69443c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-anastasia {
  font-family: 'Anastasia Script', cursive;
}

.container {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 1rem;
  padding-right: 1rem;
}
