@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Anastasia Script';
  src: url('/assets/fonts/anastasiascriptc.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fffbf8;
  --foreground: #171717;
}

@theme {
  --color-brown: #69443c;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-anastasia {
  font-family: 'Anastasia Script', cursive;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.heart-animate {
  animation: heartbeat 1.5s ease-in-out infinite;
}

/* swiper */
.swiper-pagination-bullet {
  @apply h-4! w-4! opacity-100! bg-pink-100!;
}

.swiper-pagination-bullet-active {
  @apply bg-pink-500! mx-1.5!;
}

.swiper-button-prev,
.swiper-button-next
 {
  @apply top-auto! bottom-0! text-pink-500! z-50!;
}

/* #swiper */
