@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: 'Anastasia Script';
  src: url('/assets/fonts/anastasiascriptc.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fffbf8;
  --foreground: #69443c;
}

@theme {
  --color-primary: #69443c;
  --color-second: #efcac9;
}

body {
  /* background: var(--background) url('/assets/images/bg.png') repeat; */
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant), serif;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url('/assets/images/bg.png') center / cover no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.font-anastasia {
  font-family: 'Anastasia Script', cursive;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.heart-animate {
  animation: heartbeat 1.5s ease-in-out infinite;
}

/* swiper */
.swiper-pagination-bullet {
  @apply h-4! w-4! opacity-100! bg-second!;
}

.swiper-pagination-bullet-active {
  @apply bg-primary! mx-1.5!;
}

.swiper-button-prev,
.swiper-button-next
 {
  @apply top-auto! bottom-0! text-[#69443c]! z-50!;
}

/* #swiper */
